################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sua.IWMS.DB/sql/debug
/Sua.IWMS.Biz/bin
/Sua.IWMS.Biz/bin/Debug
/Sua.IWMS.Biz/obj
/Sua.IWMS.Dal/bin
/Sua.IWMS.Dal/bin/Debug
/Sua.IWMS.Dal/obj
/Sua.IWMS.Ent/bin
/Sua.IWMS.Ent/bin/Debug
/Sua.IWMS.Ent/obj
/Sua.IWMS.Test/bin
/Sua.IWMS.Test/bin/Debug
/Sua.IWMS.Test/obj
/Sua.IWMS.Web/bin
/Sua.IWMS.Web/obj
/Sua.IWMS.Web/Logs
/Publish
/logs
/packages
/TestResults
/xAsm/obj
/Sua.IWMS.DB/obj/Debug
/Sua.IWMS.DB/Sua.IWMS.DB.dbmdl
*.dbmdl
*.jfm
*.suo
*.user