@model Corp.Cencosud.Supermercados.Sua.IWMS.Web.Models.ConteoSega.ConteoSegaViewModel
@{
    ViewBag.Title = "IWMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="header">
        <h2>Inventario Sega</h2> 
    </div>
    <div class="content">
        <div>
            <h3>Inventario Finalizado</h3>
            <div>
                <a class="label danger">
                    <label id="MsgError" class="label danger help-block"></label>
                </a>
            </div>
        </div>
    </div>
    <div class="footer" style="height: 25px">
        <p>Cencosud @DateTime.Now</p>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/Scripts/cerrar.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/bundles/jquery")" type="text/javascript"></script>
}
