<div class="row">
  <div class="col-sm-12 col-12 padding-10">
    <button type="submit" class="btn btn-outline-primary btn-sm" (click)="volver()">
      <i class="fa fa-arrow-left"></i> Volver
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-12 padding-10"><i class="fa fa-file"></i> <span> Posiciones del Documento
      {{idDocumento}}</span>
  </div>
</div>
<app-filtrosDocumentos [padre]="componente" (filtroDataDoc)="obtenerFiltros($event)"></app-filtrosDocumentos>

<div *ngIf="mostrarLoader" class="center">
  <img src="assets/images/loader.gif" alt="img" title="cargando...">
</div>
<div class="widget-header bordered-bottom bordered-blue">
  <span class="widget-caption">
    <i class="widget-icon fa fa-file"></i> Posiciones
  </span>
  <a class='widget-caption ml-4' (click)="descargar(idDocumento)">
    <i class="widget-icon fa fa-download"></i> Exportar Excel
  </a>
  <div class="widget-buttons">
      <a data-toggle="collapse" href="#widegetDetalle" role="button" aria-expanded="false"
        aria-controls="widegetDetalle">
        <i class="widget-icon fa fa-chevron-up"></i>
      </a>
    </div>
</div>
<div *ngIf="!cargoGrilla" class="center">
  <img src="assets/images/loader.gif" alt="img" title="cargando...">
</div>
<div *ngIf="cargoGrilla" id="widegetDetalle" class="widget-body collapse show padding-10">
  <table datatable [dtOptions]="dtposiciones" class="row-border hover text center display nowrap" style="width:90%">
  </table>
</div>
