<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="InventarioSUAEntities" connectionString="metadata=res://*/InventarioContext.csdl|res://*/InventarioContext.ssdl|res://*/InventarioContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=d095srtec06;initial catalog=InventarioSUA;user id=_usrwebsua;password=cencosud2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
