<div class="modal-header">
    <h5 class="modal-title">Cancelar Documento</h5>
  </div>
  <div class="modal-body">
    <div class="center">
        <p style='font-size: 1.4rem;'>¿Desea cancelar el documento {{idDocumento}}?</p>
        <button type="submit" class="btn btn-outline-primary btn-lg" (click)="OkButton()">
            <i class="fa fa-check"></i> OK
        </button>
        <button type="button" class="btn btn-outline-primary btn-lg ml-4" (click)="Salir()">
            <i class="fa fa-close"></i> Cancelar
        </button>
    </div>
  </div>
