<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings configSource="Config\Ide\appSettings.config" xdt:Transform="Replace"/>
  <connectionStrings  configSource="Config\Ide\connectionStrings.config" xdt:Transform="Replace"/>
  <log4net  configSource="Config\Ide\log.config" xdt:Transform="Replace"/>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>