table a:active,table a:hover 
{
	color: #bd5a35;
	text-decoration:underline;
}

.table 
{
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

.table_th 
{
	padding:5px 5px 5px 5px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

.table_tr 
{
	text-align: center;
	padding-left:5px;
}

.table_td 
{
	padding:5px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #C5CAE9;
    margin: 0;
}

.content {
    color: Black;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.header {
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

    .header h3 {
        font-weight: 700;
        margin: 0px;
        padding: 0px 0px 0px 15px;
        color: #f9f9f9;
        border: none;
        line-height: 2em;
        font-size: 17px;
    }

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}


    .form-control:focus {
        color: #464a4c;
        background-color: #fff;
        border-color: #5cb3fd;
        outline: none;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }


.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-sm {
    padding: 3px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}

.btn:focus, .btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
    box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

.btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65;
}

.btn:active, .btn.active {
    background-image: none;
}


.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #025aa5;
        border-color: #01549b;
    }

    .btn-primary:focus, .btn-primary.focus {
        -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
        box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
    }

    .btn-primary.disabled, .btn-primary:disabled {
        background-color: #0275d8;
        border-color: #0275d8;
    }


.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

    .btn-danger:hover {
        color: #fff;
        background-color: #c9302c;
        border-color: #c12e2a;
    }


.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

    .btn-warning:hover {
        color: #fff;
        background-color: #ec971f;
        border-color: #eb9316;
    }

    .btn-warning:focus, .btn-warning.focus {
        -webkit-box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
        box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
    }

    .btn-warning.disabled, .btn-warning:disabled {
        background-color: #f0ad4e;
        border-color: #f0ad4e;
    }

.btn-danger:focus, .btn-danger.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
    box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
    background-color: #d9534f;
    border-color: #d9534f;
}


.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

    .btn-info:hover {
        color: #fff;
        background-color: #31b0d5;
        border-color: #2aabd2;
    }

    .btn-info:focus, .btn-info.focus {
        -webkit-box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
        box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
    }

    .btn-info.disabled, .btn-info:disabled {
        background-color: #5bc0de;
        border-color: #5bc0de;
    }

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

    .btn-success:hover {
        color: #fff;
        background-color: #449d44;
        border-color: #419641;
    }

    .btn-success:focus, .btn-success.focus {
        -webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
        box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
    }

    .btn-success.disabled, .btn-success:disabled {
        background-color: #5cb85c;
        border-color: #5cb85c;
    }

.blue {
    color: #4b6c9e !important;
}

.success {
    color: #1dca3b !important;
}

.danger {
    color: #d9534f !important;
}

.warning {
    color: #f0ad4e !important;
}

.info {
    color: #5bc0de !important;
}


.col-100 {
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 11px;
    padding: 4px 25px 2px 5px;
}

.col-70 {
    width: 70%;
    text-align: left;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 11px;
    padding-right: 30px;
    padding: 4px 25px 2px 4px;
}

.col-70-select {
    width: 70%;
    text-align: left;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 11px;
    padding-right: 8px;
}

.col-100-select {
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 11px;
    padding: 4px 15px 4px 5px;
}

.col-50 {
    width: 50%;
    text-align: left;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 11px;
    padding: 4px 25px 2px 4px;
}

.col-25 {
    width: 20%;
    text-align: left;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 11px;
    padding: 4px 8px 2px 4px;
}

.col-35 {
    width: 35%;
    text-align: left;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 11px;
    padding: 4px 25px 2px 4px;
}

.col-30 {
    width: 30%;
    text-align: left;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 11px;
    padding: 4px 25px 2px 4px;
}

.input-lg {
    height: 30px;
    padding: 8px 12px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
}

.input-sm {
    height: 10px;
    padding: 5px 5px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px;
}

.input {
    height: 10px;
    padding: 5px 2px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px;
    width: 90%;
}

.label {
    font-size: 11px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select.input-sm {
    height: 23px;
    line-height: 30px;
    padding: 5px 5px;
    font-size: 11px;
    border-radius: 3px;
    width: 100%;
}

.footer {
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #e0e0e0;
    width: 100%;
}

    .footer p {
        font-weight: 700;
        margin: 0px;
        padding: 0px 0px 0px 15px;
        color: #757575;
        border: none;
        line-height: 2em;
        font-size: 12px;
    }

.container {
        margin: 0 auto;
        width: 100%;
        max-height: 190px;
        overflow-y: visible;
    }

@media (min-width: 740px) {
    .content {
        width: 100%;
    }

    .col-25 {
        width: 25%;
        text-align: left;
        font-family: sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 11px;
        padding: 4px 10px 2px 4px;
    }

    .footer {
        width: 100%;
    }

    .header {
        width: 100%;
    }

    .container {
        margin: 0 auto;
        width: 80%;
        max-height: 100%;
        overflow-y: hidden;
    }

    .input {
        height: 20px;
        padding: 5px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .input-sm {
        height: 20px;
        padding: 5px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .label {
        font-size: 13px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btn-sm {
        padding: 5px 10px;
        font-size: 14px;
        line-height: 1.5;
        border-radius: 3px;
    }

    select.input-sm {
        height: 27px;
        line-height: 30px;
        padding: 5px 5px;
        font-size: 12px;
        border-radius: 3px;
        width: 100%;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 1.42857143;
        color: #333333;
        background-color: #C5CAE9;
        margin: 7px;
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.border-danger{
    border-color: #d9534f;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.form 
{
    margin: 0;    
}