<?xml version="1.0"?>
<connectionStrings>
  <add name="CDsEntities" connectionString="metadata=res://*/CDsEntities.csdl|res://*/CDsEntities.ssdl|res://*/CDsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=g100603sv216;initial catalog=CDs;user id=_usrwebsua;password=cencosud2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>