<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="AccesosSUAEntities" connectionString="metadata=res://*/AccesosContext.csdl|res://*/AccesosContext.ssdl|res://*/AccesosContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IC-PC-DEV1\SQLEXPRESS;initial catalog=AccesosSUA;user id=_usrwebsua;password=cencosud2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>